<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
	<div class="container">
	    <!-- etc… -->
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul>
	<li><a href="#/">Home</a></li>
	<li><a href="#/services">Services</a></li>
	<li><a href="#/pricing">Pricing Table</a></li>
	<li><a href="#/about">About</a></li>
	</ul>
	    </div>
	    <!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>